@import 'control-item-variables';

.control-item {
	display: flex;
	width: 120px;

	&__input-wrapper {
		flex-basis: 30%;
		display: flex;
		justify-content: center;
	}

	&__input {
		border: 1px solid #8c8c8c;
		border-radius: 15px;
		width: $control-item__input--width;
		height: $control-item__input--height;
		line-height: $control-item__input--height;
		font-family: 'Roboto';
		font-weight: 300;
		text-align: center;
	}

	&__checkbox {
		position: relative;
		border-radius: 15px;
		width: $control-item__input--width + 2px;
		height: $control-item__input--height + 2px;
		background-color: #4a4a4a;
	}

	&__checkbox-input {
		visibility: hidden;
		position: absolute;
	}

	&__checkbox-label {
		left: 0px;
		position: absolute;
		background-color: #d6d6d6;
		border-radius: 50%;
		width: $control-item__input--height + 2px;
		height: $control-item__input--height + 2px;
		transition: all 0.5s ease;
	}

	&__label {
		font-family: 'Roboto';
		font-weight: 300;
		flex-basis: 70%;
		padding-left: 15px;
		line-height: $control-item__input--height + 4px;
	}

	&__checkbox-input:checked + &__checkbox-label {
		left: $control-item__input--width - 24px;
		background-color: white;
	}
}